* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray500: hsl(0, 0%, 42%);
  --Gray950: hsl(0, 0%, 7%);
}

body {
  max-height: 100vh;
  width: 100vw;
  background: var(--Yellow);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container{
    min-height: 100vh;
    width: 100%;
    display: grid;

    justify-content: center;
    align-content: center;
}


.card{
    background: var(--White);
    width: 280px;
    min-height: 400px;
    overflow: hidden;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 5px 5px ;
    
}
.img-content{
    border-radius: 10px;
}
.img-content img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

}
.card-text{
    margin-top: 10px ;
}
.topButton{
    background: var(--Yellow);
    border: none;
    padding:5px 10px ;
    font-weight: 700;
    cursor: pointer;


}
.card-text p{
    margin: 5px 0;
    color: var(--Gray500);
    font-weight: 500;
}




h3{
    color: var(--Gray950);
    font-size: 20px;
    font-weight: 800;

}



.bt-content{
    margin: 10px;
    display: flex;
    gap: 0 10px;
    border-radius: 5px;
}

.bt-content img{
    width: 50px;
}
.author{
    align-self: center;
    font-weight: 500;
    color: var(--Gray950);
    cursor: pointer;
}




.attribution{
    justify-self: center;
    margin: 10px 0;
}
















